<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977947125061-ampcst840lagkvsr5mclm2na8122100j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977947125061-ampcst840lagkvsr5mclm2na8122100j</string>
	<key>API_KEY</key>
	<string>AIzaSyBXu_OwCM_bCLm0sLQrStfseBefEdfqj1E</string>
	<key>GCM_SENDER_ID</key>
	<string>977947125061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.CoffeShop</string>
	<key>PROJECT_ID</key>
	<string>coffeshop-6ccd6</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeshop-6ccd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977947125061:ios:5af1e078ec392cff278a2c</string>
</dict>
</plist>